.nav_contain{
padding: 1em 2em;
background-color: var(--button-inverted, #000);
position: sticky;
transition: transform 0.6s ease;
top: 0;
z-index: 10;
}
.nav_links_contain{
    display: flex;
    justify-content: space-between;
}
.link{
    font-size: 24px;
    font-weight: 600;
    color: aliceblue;
}
.link_2{
    font-size: 16px;
    font-weight: 600;
    color: aliceblue;
}
.right_nav{
    display: flex;
    justify-content: space-between;
    gap: 5em;
    align-items: center;
}
.cart{
    display: contents;
    height: 80px;
    width: 80px;
    font-size: 24px;
    align-items: center;
}
.hide {
    transform: translateY(-100%);
  }